<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
   </head>
  <body>
      <h6>Welcome to</h6>
      <h1>//Click me//</h1>
    <img src = "https://0160b638-58e4-4fc8-b7c3-513b933000d4-00-2xsjkpblu6ye6.sisko.replit.dev/static/camera_photo.jpg" width = "500px" height = "300px">
      <p>Click me is all about making yourself happy through making memories......</p>
    
   </body>
</html>

